* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: black;
    grid-template-columns: 1fr 3.7fr;
    grid-template-rows: 1fr 4.7fr;
}

.sidebar {
    background-color: rgb(66, 146, 207);
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.header {
    background-color: rgb(255, 255, 255);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.main {
    background-color: rgb(227, 232, 239);
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

