* {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 3.7fr;
    grid-template-rows: 1fr 4.7fr;
}

.sidebar {
    background-color: rgb(26, 146, 213);
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: 1fr 3.9fr 2fr 9fr;
    grid-template-columns: 1fr;
}

.header {
    background-color: rgb(255, 255, 255);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.6fr;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: relative;
    z-index: 2;
}

.main {
    background-color: rgb(227, 232, 239);
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr;
    grid-template-rows: 1fr 3.75fr 3.75fr 3.75fr;
    align-items: center;
    padding-left: 2%;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg) brightness(118%) contrast(118%);
}

.sidebar p {
    color: white;
    align-self: center;
    font-size: 1.4em;
    font-weight: 500;
}

.top {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 20px;
}

.top p {
    font-size: 28px;
}

.middle {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 20px;
}

.middle p {
    margin-left: 5px;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 20px;
}

.bottom p {
    margin-left: 5px;
}

.empty {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.sidebar img {
    justify-self: center;
    object-fit: contain;
    width: 60%;
    height: 60%;
    align-self: center;
}

.top img {
    width: 85%;
    height: 85%;
}

.tophalf {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 7.5fr 1.9fr 0.875fr 2.75fr;
    align-items: center;
}

.tophalf img {
    object-fit: contain;
}

#search {
    height: 60%;
    width: 100%;
}

#magnify {
    height: 40%;
    width: 40%;
    justify-self: end;
}

#bell {
    height: 40%;
    width: 40%;
    justify-self: end;
}

#topavatar {
    height: 80%;
    width: 80%;
    justify-self: center;
}

.bottomhalf {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4.26fr 1fr 1fr 1fr;
    align-items: center;
}

.bottomhalf img {
    object-fit: contain;
}

.tophalf p {
    font-weight: bold;
    margin-left: 5%;
}

#bottomavatar {
    height: 75%;
    width: 75%;
    justify-self: end;
}

#toptext {
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 1%;
}

#bottomtext {
    font-weight: bold;
    font-size: 1.4em;
}

.bottomhalf button {
    color: white;
    background-color: rgb(26, 146, 213);
    border: none;
    width: 70%;
    height: 35%;
    border-radius: 50px;
    font-weight: bold;
    font-size: 0.9em;
}

#button1 {
    margin-left: 20%;
}

#button2 {
    margin-left: 10%;
}

#projects {
    grid-area: 1 / 1 / 2 / 3;
    margin-top: 2.5%;
    font-size: 1.2em;
    font-weight: 500;
}

#announcements {
    grid-area: 1 / 3 / 2 / 4;
    margin-top: 2.5%;
    font-size: 1.2em;
    font-weight: 500;
}

.announcementpanel {
    grid-area: 2 / 3 / 5 / 4;
    height: 95%;
    width: 90%;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr 4.9fr;
}

.card {
    height: 80%;
    width: 90%;
    background-color: white;
    align-self: start;
    border-radius: 2%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    border-left: 10px solid rgb(240, 180, 41);
}

.bottomcard {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4.33fr 1fr 1fr;
    align-items: center;
}

.topcard .title {
    font-weight: 500;
    font-size: 1.1em;
}

.topcard .text {
    margin-top: 2px;
    color: grey;
    margin-right: 10px;
    font-size: 0.9em;
}

.topcard {
    padding-left: 5%;
    padding-top: 7%;
}

#star {
    height: 25%;
    width: 30%;
    justify-self: end;
}

#watch {
    height: 35%;
    width: 35%;
    padding-left: 6%;
}

#fork {
    height: 35%;
    width: 35%;
}

.announcements {
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-top: 5%;
}

.trendingaccounts {
    background-color: white;
    margin-bottom: 3%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 2%;
    display: grid;
    grid-template-columns: 1fr 2.35fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.trendingaccounts img {
    justify-self: center;
}

.trendingaccounts p {
    font-size: 0.9em;
}

.accountdescription {
    color: grey;
}
#trending {
    font-weight: 500;
    font-size: 1.2em;
    align-self: end;
    padding-bottom: 3%;
}

.announcementtitles {
    font-size: 0.9em;
    font-weight: 500;
    padding-top: 5%;
}

.announcementtext {
    font-size: 0.7em;
    color: grey;
    margin-top: 2%;
}

#firstannouncement { 
    border-bottom: 1px solid lightgray;
    padding: 4%;
    padding-bottom: 8%;
}

#secondannouncement {
    border-bottom: 1px solid lightgray;
    padding: 4%;
}

#thirdannouncement {
    padding: 4%;
}

#oversizedavatar {
    height: 70%;
    width: 70%;
    padding-right: 5%;
}

.avatars {
    height: 60%;
    width: 60%;
}